@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Radio+Canada:wght@600&display=swap');

#content {
    max-width: 1600px;
    margin: auto;
}
nav a {
    text-align: center;
    color: #EFD09E;
    text-decoration: none;
    padding: 35px;
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.home-title {
    color: #2a241a;
    font-family: 'Francois One', Tahoma, 'Franklin Gothic Medium';
    font-size: 2em;
    margin-top: 10px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #D19C64;
}
h4 {
    color: #2a241a;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
    margin-bottom: 100px;
}
body {
    background-color: #EFD09E;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', Helvetica, sans-serif;
}
header {
    background-color: #315659;
}
nav a:hover {
    background-color: #D19C64;
    color: #EFD09E;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.book, .join {
    background-color: #D19C64;
    color: #2a241a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #D19C64;
    color: #EFD09E;
}
h2 {
    color: #2a241a;
    margin: 0;
}
#background {
    background-color: #D19C64;
}
.msg {
    background-color: #315659;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
.msg h2 {
    color: #EFD09E;
    font-family: 'Francois One', Tahoma, 'Franklin Gothic Medium';
}
.msg p {
    color: #EFD09E;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: #315659;
    padding: 25px 50px;
    margin-top: 200px;
}
footer h3 {
    color: #D19C64;
    text-decoration: none;
}
footer a {
    color: #D19C64;
    text-decoration: none;
}
footer a:hover {
    color: #D19C64;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}