@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Radio+Canada:wght@600&display=swap');

body {
    background-color: #EFD09E;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', Helvetica, sans-serif;
}
#content {
    max-width: 1600px;
    margin: auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #EFD09E;
    text-decoration: none;
    padding: 35px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
} 
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
h4 {
    color: #2a241a;
}
.home-title {
    color: #2a241a;
    font-family: 'Francois One', Tahoma, 'Franklin Gothic Medium';
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    width: 100%;
    border: 10px solid #D19C64;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    background-color: #D19C64;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #2a241a;
}
header {
    background-color: #315659b9;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #d19c64be;
    color: #EFD09E;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.book, .join {
    background-color: #D19C64;
    color: #2a241a;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #D19C64;
    color: #EFD09E;
}
h2 {
    color: #2a241a;
    margin: 0;
}
.msg {
    background-color: #315659;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #2a241a;
}
.msg h2 {
    color: #EFD09E;
    text-align: center;
    font-family: 'Francois One', Tahoma, 'Franklin Gothic Medium';
}
.msg p {
    color: #EFD09E;
    font-size: 0.8em;
    padding-bottom: 15px;
}
footer {
    background-color: #315659;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3 {
    color: #D19C64;
    text-decoration: none;
}
footer a {
    color: #D19C64;
    text-decoration: none;
}
footer a:hover {
    color: #D19C64;
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}

/* Page 2: Rates/Dates */

#dates-title {
    text-align: center;
    margin: 30px;
    color: #2a241a;
    text-shadow: 3px 3px 10px rgba(82, 81, 81, 0.818);
    font-family: 'Francois One', Tahoma, 'Franklin Gothic Medium';
    font-size: 30px;
    padding: 15px 100px;   
}
#dates-title-2{
    margin-top: -40px;
    font-size: 80px;
}
#main-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 40px;
}
.text-information {
    text-align: center;  
    background-color: #efd09e79; 
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 100px;   
}
.headings {
    font-weight:  bolder;
}
.dates-table {   
    margin: auto;
    text-align: left;
}
th {
    padding: 10px;
    background-color: #315659;
    color: white;
}
.first-date {
    grid-column: 2/4;
    grid-row: 1/2;
}
.second-date {
    grid-column: 5/7;
    grid-row: 2/3;
}
.third-date {
    grid-column: 2/4;
    grid-row: 3/4;
}
.fourth-date {
    grid-column: 5/7;
    grid-row: 4/5;
}
#image-1{
   grid-column: 1/8;
   grid-row: 1/2;
   z-index: -1;
}
#image-2{
    grid-column: 1/8;
    grid-row: 2/3;
    z-index: -1;
 }
 #image-3{
    grid-column: 1/8;
    grid-row: 3/4;
    z-index: -1;
 }
 #image-4{
    grid-column: 1/8;
    grid-row: 4/5;
    z-index: -1;
 }
.images{
    width: 100%;
}
main h3 {
    font-size: 18px;
    margin-bottom: 50px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;    
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }

    /* Page 2: Rates/Dates */

    #main-container {
        display: block;
        height: auto;
    }
    
    .text-information {
        background-color:#D19C64;
        text-shadow: 2px 0.5px 5px #2a241a;
        box-shadow: 10px 1px 15px #2a241a;
    }

    #dates-title-1 {
        font-size: 40px;
        text-align: center;
    }
    #dates-title-2 {
        margin-top: 30px;
        font-size: 50px;
    }
}

