@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@300;500&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: #FBF5E4;
    font-family: 'Poppins', 'Calibri', 'Veranda';
}
#content {
    max-width: 1600px;
    margin: auto;
}
header {
    width: 600px;
    height: 350px;
    margin: auto;
    justify-items: center;
}
nav {
    display: flex;
    justify-content:space-around;
}
.logo {
    margin-bottom: -40px;
}
nav a {
    font-size: 20px;
    color: black;
    text-decoration: none;
}
nav :hover {
    background-color: #b2b3a86c;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    font-family: 'Montserrat', 'Impact';
}
#main-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
#hero {
    grid-column: 1/7;
    grid-row: 1/2;
}
#hero_img {
    grid-column: 1/7;
    grid-row: 1/2;
    z-index: -1;
}
#img-community {
    width: 100%;
}
#hero_title {
    margin-top: 55px;
    margin-right: 100px;
    text-align: right;
}
#cta_msg {
    margin-left: 200px;
    margin-top: 500px;
    grid-column: 1/7;
    grid-row: 1/2;
}
#cta_msg h2 {
    font-size: 20px;
}
.visit-button {
    background-color: #7B9A88;
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 25px;
    border-radius: 5px;
}
.visit-button:hover {
    background-color: #B2B3A8;
}
#boxes-title {
    text-align: center;
    margin: 100px;
    grid-column: 1/7;
    grid-row: 2/3;
}
#boxes-title h2 {
    font-size: 40px;
    margin-bottom: -20px;
}
#accessories-box {
    margin: auto;
    grid-column: 3/5;
    grid-row: 3/4;
}
#food-box {
    grid-column: 2/3;
    grid-row: 3/4;
}
#clothes-box {
    margin: auto;
    margin-top: -5px;
    grid-column: 5/6;
    grid-row: 3/4;
}
#accessories-box img, #food-box img, #clothes-box img {
    width: 100px; 
}
#accessories-box, #food-box, #clothes-box {
    text-align: center;
    font-size: 16px;
    margin-bottom: 150px;
}
#accessories-box:hover, #food-box:hover, #clothes-box:hover {
    transform: scale(1.1);
}
.msg-1 {
    background-color: #DDB573;
    font-size: 19px;
    padding: 40px;
    padding-left: 4%;
    padding-right: 55% ;
    text-align: justify;
    grid-column: 2/6;
    grid-row: 4/5;
}
#img-charts{
    width: 580px;
    height: 340px;
    padding-top: 65px;
    grid-column: 4/7;
    grid-row: 4/5;
}
.title {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    font-family: 'Montserrat', 'Impact';
    grid-column: 1/7;
    grid-row: 5/6;
}
#img-woman {
    margin: auto;
    width: 400px;
    box-shadow: -28px -20px 1px 1px #7B9A88;
    grid-column: 2/4;
    grid-row: 6/7;
}
.numbers-listing {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 50px;
    height: 50px;
    background-color: #b2b3a87c;
    border-radius: 50px;
}
.listing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    grid-column: 4/5;
    grid-row: 6/7;
}
.msg-2 {
    padding-left: 100px;
    grid-column: 4/6;
    grid-row: 6/7;
    text-align: justify;
}
.msg-3 {
    background-color: #DDB573;
    text-align: center;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 25px;
    grid-column: 2/6;
    grid-row: 7/8;
}
#contact {
    text-align: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 60px;
    margin-right: 60px;
    grid-column: 3/5;
    grid-row: 8/9;
}
.search-box input#search {
    width: 300px;
    background: #7B9A88;
    border: none;
    font-size: 15px;
    padding: 2%;
    padding-left: 45px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.search-box input#search::-webkit-input-placeholder {
    color: black;
}
summary {
    background-color: #DDB573;
    width: 300px;
    height: 35px;
    border-radius: 20px;
    margin: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#mail-box {
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.mail-button {
    background-color: #DDB573;
    color: black;
    text-decoration: none;
    font-size: 17px;
    padding: 6px 20px;
    border-radius: 20px;
    margin-left: 60px;
}
footer {
    background-color: #7B9A88;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around; 
}
footer a {
    text-decoration: none;
    color: black;
}
footer a:hover {
    color: #B2B3A8;
}
@media screen and (max-width: 900px) {
    #main-grid {
        display: block;
        height: auto;
    }
    #hero_title {
        margin: auto;
        text-align: center;
    }
    #cta_msg {
        margin: 0;
        text-align: center;
    }
    .msg-1 {
        padding: 60px;
        padding-bottom: 200px;
    }
    #img-charts {
        width: auto;
        margin-top: -220px;
    }
    .msg-2 {
        padding: 5%;
    }
    #img-woman {
        margin-top: 60px;
        margin-left: 100px;
    }
}