@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f4a0c7;
}
#home-title {
    font-family: Roboto, Georgia, "Times New Roman", sans-serif;
  }
#all {
    text-align: center;
}
#first-part {
    color: white;
}
#quote-txt-2 {
    margin: auto;
    width: 270px;
    color: white;
    font-size: 200%
}
img{
    width: 160px;
}
#quote-autor{
    font-weight:  bolder;
    font-family: Roboto, Georgia, "Times New Roman", sans-serif;
}
#steps{
    padding-left: 100px;
    text-align: justify;
    font-weight:  bolder;
    font-family: Roboto, Georgia, "Times New Roman", sans-serif;
}
#quote-autor-2{
    font-weight:  bolder;
    font-family: Roboto, Georgia, "Times New Roman", sans-serif;
}
#home-title:hover {
    color: black